.post {
  font-size: 1.5rem;
}

.inline_span {
  display: inline-block;
}

.article {
  border-top: 1px solid #eaeaea;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tag {
  font-size: 0.85rem;
}